
@{
    ViewBag.Title = "BoardOfDirectors";
}

<h2>BoardOfDirectors</h2>

<main role="main" id="main-content">
    <div class="par-main parsys">
        <section class="default column-control section bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="no-bg section title layout-default">
                            <h1 class="no-bg layout-default">
                                Board of Directors
                            </h1>
                        </div>


                    </div>
                </div>
            </div>
        </section>
        <section class="default column-control bg-grey section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <section class="default column-control column-control-content-expander section flex-layout-tablet">

                            <div class="row">
                                <div class="col-sm-3 col-xs-12">
                                    <div class="orientation-default content-tile bg-default content-tile-content-expander-link section">
                                        <div class="content-tile-container">
                                            <figure>

                                                <a href="undefined" class="expand-link">
                                                    <picture><!--[if IE 9] ><video style="display: none;"><![endif]--><source srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Tuarel.png/_jcr_content/renditions/cq5dam.web.1600.9600.png" media="(min-width: 992px)"><source srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Tuarel.png/_jcr_content/renditions/cq5dam.web.780.4680.png" media="(max-width: 991px)"><!--[if IE 9]></video><![endif]--><img srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Tuarel.png/_jcr_content/renditions/original" alt="Sidney Taurel"></picture><figcaption>
                                                        <h2>Sidney Taurel</h2>
                                                        <p class="content-tile-subtitle">Chairman</p>
                                                        <div class="content-tile-text">
                                                            <p>
                                                                <b>Member of the nomination &amp; governance and remuneration committees</b><br>
                                                            </p>
                                                            <p>Aged 68, appointed 1 January 2016.</p>
                                                            <p>
                                                                Sidney has over 40 years of experience in business and finance, and is currently a board director and chairman of the Compensation Committee at IBM Corporation. Sidney is an advisory board member at pharmaceutical firms Takeda Pharmaceutical and Almirall. He was chief executive officer of global pharmaceutical firm Eli Lilly and Company from 1998 until 2008, chairman of the business from 1999 until 2008, and has been chairman emeritus since 2009. He was also a director at McGraw Hill Financial, Inc., a role which he held from 1996 until April 2016. Sidney has received three US presidential appointments to: the Homeland Security Advisory Council, the President’s Export Council and the Advisory Committee for Trade Policy and Negotiations, and is an officer of the French Legion of Honour.<br>
                                                            </p>
                                                            <p><a class="new-window" href="/content/dam/one-dot-com/one-dot-com/global/Files/about-pearson/board-of-directors/Directors_hiresTuarel.png.zip" target="_blank" tabindex="-1">Download Sidney Taurel's Photo</a></p>
                                                        </div>
                                                    </figcaption>
                                                </a>
                                            </figure>
                                        </div>
                                    </div>


                                </div><div class="director-info col-xs-12" aria-expanded="false" style="display: none;">
                                    <a href="#" aria-label="Close info" class="close-info" tabindex="0"></a><h3>Sidney Taurel</h3><h5>Chairman</h5>
                                    <p>
                                        <b>Member of the nomination &amp; governance and remuneration committees</b><br>
                                    </p>
                                    <p>Aged 68, appointed 1 January 2016.</p>
                                    <p>
                                        Sidney has over 40 years of experience in business and finance, and is currently a board director and chairman of the Compensation Committee at IBM Corporation. Sidney is an advisory board member at pharmaceutical firms Takeda Pharmaceutical and Almirall. He was chief executive officer of global pharmaceutical firm Eli Lilly and Company from 1998 until 2008, chairman of the business from 1999 until 2008, and has been chairman emeritus since 2009. He was also a director at McGraw Hill Financial, Inc., a role which he held from 1996 until April 2016. Sidney has received three US presidential appointments to: the Homeland Security Advisory Council, the President’s Export Council and the Advisory Committee for Trade Policy and Negotiations, and is an officer of the French Legion of Honour.<br>
                                    </p>
                                    <p><a class="new-window" href="/content/dam/one-dot-com/one-dot-com/global/Files/about-pearson/board-of-directors/Directors_hiresTuarel.png.zip" target="_blank">Download Sidney Taurel's Photo</a></p>
                                </div>

                                <div class="col-sm-3 col-xs-12">
                                    <div class="default-image-padding default-btn-type default-btn-width default-subtitle-typesize default-padding section default-btn-size content-tile-portrait default-title-typesize default-title-color default-subtitle-typefamily default-content-tile-text--col-count default-title-typefamily bgcolor--default orientation-default content-tile default-color bg-default default-subtitle-color default-subtitle-typeweight content-tile-content-expander-link default-title-typeweight">
                                        <div class="content-tile-container">
                                            <figure>

                                                <a href="undefined" class="expand-link">
                                                    <picture><!--[if IE 9] ><video style="display: none;"><![endif]--><source srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Fallon-032017.png/_jcr_content/renditions/cq5dam.web.1600.9600.png" media="(min-width: 992px)"><source srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Fallon-032017.png/_jcr_content/renditions/cq5dam.web.780.4680.png" media="(max-width: 991px)"><!--[if IE 9]></video><![endif]--><img srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Fallon-032017.png/_jcr_content/renditions/original" alt="John Fallon"></picture><figcaption>
                                                        <h2>John Fallon</h2>
                                                        <p class="content-tile-subtitle">Chief executive</p>
                                                        <div class="content-tile-text">
                                                            <p>Aged 54, appointed 3 October 2012.</p>
                                                            <p>
                                                                John became Pearson’s chief executive on 1 January 2013. Since 2008 he had been responsible for the company’s education businesses outside North America, and a member of the Pearson management committee. He joined Pearson in 1997 as director of communications and was appointed president of Pearson Inc., in 2000. In 2003, he was appointed CEO of Pearson’s educational publishing businesses for Europe, Middle East &amp; Africa. Prior to joining Pearson, John was director of corporate affairs at Powergen plc, and was also a member of the company’s executive committee. Earlier in his career, John held senior public policy and communications roles in UK local government. He is an advisory board member of the Global Business Coalition for Education and a member of the Council of the University of Hull.<br>
                                                            </p>
                                                            <p><a href="/content/dam/one-dot-com/one-dot-com/global/Files/about-pearson/board-of-directors/Directors_hiresFallon-032017.png.zip" target="_blank" class="new-window" tabindex="-1">Download John Fallon's Photo</a></p>
                                                        </div>
                                                    </figcaption>
                                                </a>
                                            </figure>
                                        </div>
                                    </div>


                                </div><div class="director-info col-xs-12" aria-expanded="false" style="display: none;">
                                    <a href="#" aria-label="Close info" class="close-info" tabindex="0"></a><h3>John Fallon</h3><h5>Chief executive</h5>
                                    <p>Aged 54, appointed 3 October 2012.</p>
                                    <p>
                                        John became Pearson’s chief executive on 1 January 2013. Since 2008 he had been responsible for the company’s education businesses outside North America, and a member of the Pearson management committee. He joined Pearson in 1997 as director of communications and was appointed president of Pearson Inc., in 2000. In 2003, he was appointed CEO of Pearson’s educational publishing businesses for Europe, Middle East &amp; Africa. Prior to joining Pearson, John was director of corporate affairs at Powergen plc, and was also a member of the company’s executive committee. Earlier in his career, John held senior public policy and communications roles in UK local government. He is an advisory board member of the Global Business Coalition for Education and a member of the Council of the University of Hull.<br>
                                    </p>
                                    <p><a href="/content/dam/one-dot-com/one-dot-com/global/Files/about-pearson/board-of-directors/Directors_hiresFallon-032017.png.zip" target="_blank" class="new-window">Download John Fallon's Photo</a></p>
                                </div>

                                <div class="col-sm-3 col-xs-12">
                                    <div class="orientation-default content-tile bg-default content-tile-content-expander-link section">
                                        <div class="content-tile-container">
                                            <figure>

                                                <a href="undefined" class="expand-link">
                                                    <picture><!--[if IE 9] ><video style="display: none;"><![endif]--><source srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Williams.png/_jcr_content/renditions/cq5dam.web.1600.9600.png" media="(min-width: 992px)"><source srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Williams.png/_jcr_content/renditions/cq5dam.web.780.4680.png" media="(max-width: 991px)"><!--[if IE 9]></video><![endif]--><img srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Williams.png/_jcr_content/renditions/original" alt="Coram Williams"></picture><figcaption>
                                                        <h2>Coram Williams</h2>
                                                        <p class="content-tile-subtitle">Chief financial officer</p>
                                                        <div class="content-tile-text">
                                                            <p>Aged 43, appointed 1 August 2015.</p>
                                                            <p>
                                                                Coram joined Pearson in 2003 and has held a number of senior positions including finance and operations director for Pearson’s English Language Teaching business in Europe, Middle East &amp; Africa, interim president of Pearson Education Italia and head of financial planning and analysis for Pearson. In 2008 Coram became CFO of The Penguin Group and was latterly appointed CFO of Penguin Random House in 2013. Coram trained at Arthur Andersen, and subsequently worked in both the auditing and consulting practices of the firm. He is a non-executive director of the Guardian Media Group.<br>
                                                            </p>
                                                            <p><a class="new-window" href="/content/dam/one-dot-com/one-dot-com/global/Files/about-pearson/board-of-directors/Directors_hiresWilliams.png.zip" target="_blank" tabindex="-1">Download Coram Williams' Photo</a></p>
                                                        </div>
                                                    </figcaption>
                                                </a>
                                            </figure>
                                        </div>
                                    </div>


                                </div><div class="director-info col-xs-12" aria-expanded="false" style="display: none;">
                                    <a href="#" aria-label="Close info" class="close-info" tabindex="0"></a><h3>Coram Williams</h3><h5>Chief financial officer</h5>
                                    <p>Aged 43, appointed 1 August 2015.</p>
                                    <p>
                                        Coram joined Pearson in 2003 and has held a number of senior positions including finance and operations director for Pearson’s English Language Teaching business in Europe, Middle East &amp; Africa, interim president of Pearson Education Italia and head of financial planning and analysis for Pearson. In 2008 Coram became CFO of The Penguin Group and was latterly appointed CFO of Penguin Random House in 2013. Coram trained at Arthur Andersen, and subsequently worked in both the auditing and consulting practices of the firm. He is a non-executive director of the Guardian Media Group.<br>
                                    </p>
                                    <p><a class="new-window" href="/content/dam/one-dot-com/one-dot-com/global/Files/about-pearson/board-of-directors/Directors_hiresWilliams.png.zip" target="_blank">Download Coram Williams' Photo</a></p>
                                </div>

                                <div class="col-sm-3 col-xs-12">
                                    <div class="orientation-default content-tile bg-default content-tile-content-expander-link section">
                                        <div class="content-tile-container">
                                            <figure>

                                                <a href="undefined" class="expand-link">
                                                    <picture><!--[if IE 9] ><video style="display: none;"><![endif]--><source srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Corley.png/_jcr_content/renditions/cq5dam.web.1600.9600.png" media="(min-width: 992px)"><source srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Corley.png/_jcr_content/renditions/cq5dam.web.780.4680.png" media="(max-width: 991px)"><!--[if IE 9]></video><![endif]--><img srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Corley.png/_jcr_content/renditions/original" alt="Elizabeth Corley"></picture><figcaption>
                                                        <h2>Elizabeth Corley, CBE</h2>
                                                        <p class="content-tile-subtitle">Non-executive director</p>
                                                        <div class="content-tile-text">
                                                            <p>
                                                                <b>Chairman of the remuneration committee and member of the audit and nomination &amp; governance committees</b><br>
                                                            </p>
                                                            <p>Aged 60, appointed 1 May 2014.</p>
                                                            <p>
                                                                Elizabeth is non-executive vice chair of Allianz Global Investors, where she was chief executive officer, initially for Europe then globally, from 2005 to 2016. She was previously at Merrill Lynch Investment Managers and Coopers &amp; Lybrand. Elizabeth is a director of the FICC Markets Standards Board, a member of the ESMA stakeholder group and the advisory council of TheCityUK. She is a non-executive director of BAE Systems plc and the Financial Reporting Council. In addition, she is a member of FEAM’s management committee, the CFA Institute Board of Governors, the Committee of 200 and a trustee of the British Museum. She is a fellow of the CFA UK Society and the Royal Society of Arts and is also a crime fiction author.<br>
                                                            </p>
                                                            <p>
                                                                <a class="new-window" href="/content/dam/one-dot-com/one-dot-com/global/Files/about-pearson/board-of-directors/Directors_hiresCorley.png.zip" target="_blank" tabindex="-1">Download Elizabeth Corley's Photo</a><br>
                                                            </p>
                                                        </div>
                                                    </figcaption>
                                                </a>
                                            </figure>
                                        </div>
                                    </div>


                                </div><div class="director-info col-xs-12" aria-expanded="false" style="display: none;">
                                    <a href="#" aria-label="Close info" class="close-info" tabindex="0"></a><h3>Elizabeth Corley, CBE</h3><h5>Non-executive director</h5>
                                    <p>
                                        <b>Chairman of the remuneration committee and member of the audit and nomination &amp; governance committees</b><br>
                                    </p>
                                    <p>Aged 60, appointed 1 May 2014.</p>
                                    <p>
                                        Elizabeth is non-executive vice chair of Allianz Global Investors, where she was chief executive officer, initially for Europe then globally, from 2005 to 2016. She was previously at Merrill Lynch Investment Managers and Coopers &amp; Lybrand. Elizabeth is a director of the FICC Markets Standards Board, a member of the ESMA stakeholder group and the advisory council of TheCityUK. She is a non-executive director of BAE Systems plc and the Financial Reporting Council. In addition, she is a member of FEAM’s management committee, the CFA Institute Board of Governors, the Committee of 200 and a trustee of the British Museum. She is a fellow of the CFA UK Society and the Royal Society of Arts and is also a crime fiction author.<br>
                                    </p>
                                    <p>
                                        <a class="new-window" href="/content/dam/one-dot-com/one-dot-com/global/Files/about-pearson/board-of-directors/Directors_hiresCorley.png.zip" target="_blank">Download Elizabeth Corley's Photo</a><br>
                                    </p>
                                </div>
                            </div>
                        </section>
                        <section class="default column-control column-control-content-expander section flex-layout-tablet">

                            <div class="row">
                                <div class="col-sm-3 col-xs-12">
                                    <div class="orientation-default content-tile bg-default content-tile-content-expander-link section">
                                        <div class="content-tile-container">
                                            <figure>

                                                <a href="undefined" class="expand-link">
                                                    <picture><!--[if IE 9] ><video style="display: none;"><![endif]--><source srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Cox.png/_jcr_content/renditions/cq5dam.web.1600.9600.png" media="(min-width: 992px)"><source srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Cox.png/_jcr_content/renditions/cq5dam.web.780.4680.png" media="(max-width: 991px)"><!--[if IE 9]></video><![endif]--><img srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Cox.png/_jcr_content/renditions/original" alt="Vivienne Cox, CBE"></picture><figcaption>
                                                        <h2>Vivienne Cox, CBE</h2>
                                                        <p class="content-tile-subtitle">Senior independent director</p>
                                                        <div class="content-tile-text">
                                                            <p><b>Senior independent director</b></p>
                                                            <p>
                                                                <b>Chairman of the nomination &amp; governance committee and member of the audit and reputation &amp; responsibility committees</b><br>
                                                            </p>
                                                            <p>Aged 57, appointed 1 January 2012</p>
                                                            <p>
                                                                Vivienne has wide experience in energy, natural resources and business innovation. She worked for BP plc for 28 years in global roles including executive vice president and chief executive of BP’s gas, power and renewables business and its alternative energy unit. She is non-executive director of Stena International and chairman of the supervisory board of Vallourec, a leader in the seamless steel pipe markets. She is also non-executive director at pharmaceutical company GlaxoSmithKline plc. She is lead independent director at the UK Department for International Development.<br>
                                                            </p>
                                                            <p>
                                                                <a class="new-window" href="/content/dam/one-dot-com/one-dot-com/global/Files/about-pearson/board-of-directors/Directors_hiresCox.png.zip" target="_blank" tabindex="-1">Download Vivienne Cox's Photo</a><br>
                                                            </p>
                                                        </div>
                                                    </figcaption>
                                                </a>
                                            </figure>
                                        </div>
                                    </div>


                                </div><div class="director-info col-xs-12" aria-expanded="false" style="display: none;">
                                    <a href="#" aria-label="Close info" class="close-info" tabindex="0"></a><h3>Vivienne Cox, CBE</h3><h5>Senior independent director</h5>
                                    <p><b>Senior independent director</b></p>
                                    <p>
                                        <b>Chairman of the nomination &amp; governance committee and member of the audit and reputation &amp; responsibility committees</b><br>
                                    </p>
                                    <p>Aged 57, appointed 1 January 2012</p>
                                    <p>
                                        Vivienne has wide experience in energy, natural resources and business innovation. She worked for BP plc for 28 years in global roles including executive vice president and chief executive of BP’s gas, power and renewables business and its alternative energy unit. She is non-executive director of Stena International and chairman of the supervisory board of Vallourec, a leader in the seamless steel pipe markets. She is also non-executive director at pharmaceutical company GlaxoSmithKline plc. She is lead independent director at the UK Department for International Development.<br>
                                    </p>
                                    <p>
                                        <a class="new-window" href="/content/dam/one-dot-com/one-dot-com/global/Files/about-pearson/board-of-directors/Directors_hiresCox.png.zip" target="_blank">Download Vivienne Cox's Photo</a><br>
                                    </p>
                                </div>

                                <div class="col-sm-3 col-xs-12">
                                    <div class="orientation-default content-tile bg-default content-tile-content-expander-link section">
                                        <div class="content-tile-container">
                                            <figure>

                                                <a href="undefined" class="expand-link">
                                                    <picture><!--[if IE 9] ><video style="display: none;"><![endif]--><source srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Lewis.png/_jcr_content/renditions/cq5dam.web.1600.9600.png" media="(min-width: 992px)"><source srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Lewis.png/_jcr_content/renditions/cq5dam.web.780.4680.png" media="(max-width: 991px)"><!--[if IE 9]></video><![endif]--><img srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Lewis.png/_jcr_content/renditions/original" alt="Joshua Lewis"></picture><figcaption>
                                                        <h2>Joshua Lewis</h2>
                                                        <p class="content-tile-subtitle">Non-executive director</p>
                                                        <div class="content-tile-text">
                                                            <p>
                                                                <b>Member of the remuneration and nomination &amp; governance committees</b><br>
                                                            </p>
                                                            <p>
                                                                Aged 54, appointed 1 March 2011.<br>
                                                            </p>
                                                            <p>
                                                                Josh’s experience spans finance, education and the development of digital enterprises. He is the founder of Salmon River Capital LLC, a New York-based private equity/venture capital firm focused on technology-enabled businesses in education, financial services and other sectors. Over a 25-year career in active, principal investing, he has been involved in a broad range of successful companies, including several pioneering enterprises in the education sector. In addition, he has long been active in the non-profit education sector, with associations including New Leaders, New Classrooms, and the Bill &amp; Melinda Gates Foundation. He is also a non-executive director of several enterprises in the fin-tech/data, education, and other sectors.<br>
                                                            </p>
                                                            <p>
                                                                <a class="new-window" href="/content/dam/one-dot-com/one-dot-com/global/Files/about-pearson/board-of-directors/Directors_hiresLewis.png.zip" target="_blank" tabindex="-1">Download Joshua Lewis' Photo</a><br>
                                                            </p>
                                                        </div>
                                                    </figcaption>
                                                </a>
                                            </figure>
                                        </div>
                                    </div>


                                </div><div class="director-info col-xs-12" aria-expanded="false" style="display: none;">
                                    <a href="#" aria-label="Close info" class="close-info" tabindex="0"></a><h3>Joshua Lewis</h3><h5>Non-executive director</h5>
                                    <p>
                                        <b>Member of the remuneration and nomination &amp; governance committees</b><br>
                                    </p>
                                    <p>
                                        Aged 54, appointed 1 March 2011.<br>
                                    </p>
                                    <p>
                                        Josh’s experience spans finance, education and the development of digital enterprises. He is the founder of Salmon River Capital LLC, a New York-based private equity/venture capital firm focused on technology-enabled businesses in education, financial services and other sectors. Over a 25-year career in active, principal investing, he has been involved in a broad range of successful companies, including several pioneering enterprises in the education sector. In addition, he has long been active in the non-profit education sector, with associations including New Leaders, New Classrooms, and the Bill &amp; Melinda Gates Foundation. He is also a non-executive director of several enterprises in the fin-tech/data, education, and other sectors.<br>
                                    </p>
                                    <p>
                                        <a class="new-window" href="/content/dam/one-dot-com/one-dot-com/global/Files/about-pearson/board-of-directors/Directors_hiresLewis.png.zip" target="_blank">Download Joshua Lewis' Photo</a><br>
                                    </p>
                                </div>

                                <div class="col-sm-3 col-xs-12">
                                    <div class="orientation-default content-tile bg-default content-tile-content-expander-link section">
                                        <div class="content-tile-container">
                                            <figure>

                                                <a href="undefined" class="expand-link">
                                                    <picture><!--[if IE 9] ><video style="display: none;"><![endif]--><source srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Lorimer.png/_jcr_content/renditions/cq5dam.web.1600.9600.png" media="(min-width: 992px)"><source srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Lorimer.png/_jcr_content/renditions/cq5dam.web.780.4680.png" media="(max-width: 991px)"><!--[if IE 9]></video><![endif]--><img srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Lorimer.png/_jcr_content/renditions/original" alt="Linda Lorimer"></picture><figcaption>
                                                        <h2>Linda Lorimer</h2>
                                                        <p class="content-tile-subtitle">Non-executive director</p>
                                                        <div class="content-tile-text">
                                                            <p>
                                                                <b>Chairman of the reputation &amp; responsibility committee and member of the audit committee</b><br>
                                                            </p>
                                                            <p>Aged 64, appointed 1 July 2013</p>
                                                            <p>
                                                                Linda spent almost 40 years serving higher education. She retired from Yale in spring 2016 after 34 years at the university where she served in an array of senior positions including vice president for Global &amp; Strategic Initiatives. She oversaw the development of Yale’s burgeoning online education division and the expansion of Yale international programmes and centres. During her tenure, she was responsible for many administrative services, ranging from Yale’s public communications and alumni relations to sustainability, human resources, and the university press. Previously, Linda was president of Randolph-Macon Woman’s College and chair of the board of the Association of American Colleges and Universities. She also served on the boards of several public companies, including as presiding director of the McGraw-Hill companies. She is a member of the Trilateral Commission and the Council on Foreign Relations.<br>
                                                            </p>
                                                            <p>
                                                                <a class="new-window" href="/content/dam/one-dot-com/one-dot-com/global/Files/about-pearson/board-of-directors/Directors_hiresLorimer.png.zip" target="_blank" tabindex="-1">Download Linda Lorimer's Photo</a><br>
                                                            </p>
                                                        </div>
                                                    </figcaption>
                                                </a>
                                            </figure>
                                        </div>
                                    </div>


                                </div><div class="director-info col-xs-12" aria-expanded="false" style="display: none;">
                                    <a href="#" aria-label="Close info" class="close-info" tabindex="0"></a><h3>Linda Lorimer</h3><h5>Non-executive director</h5>
                                    <p>
                                        <b>Chairman of the reputation &amp; responsibility committee and member of the audit committee</b><br>
                                    </p>
                                    <p>Aged 64, appointed 1 July 2013</p>
                                    <p>
                                        Linda spent almost 40 years serving higher education. She retired from Yale in spring 2016 after 34 years at the university where she served in an array of senior positions including vice president for Global &amp; Strategic Initiatives. She oversaw the development of Yale’s burgeoning online education division and the expansion of Yale international programmes and centres. During her tenure, she was responsible for many administrative services, ranging from Yale’s public communications and alumni relations to sustainability, human resources, and the university press. Previously, Linda was president of Randolph-Macon Woman’s College and chair of the board of the Association of American Colleges and Universities. She also served on the boards of several public companies, including as presiding director of the McGraw-Hill companies. She is a member of the Trilateral Commission and the Council on Foreign Relations.<br>
                                    </p>
                                    <p>
                                        <a class="new-window" href="/content/dam/one-dot-com/one-dot-com/global/Files/about-pearson/board-of-directors/Directors_hiresLorimer.png.zip" target="_blank">Download Linda Lorimer's Photo</a><br>
                                    </p>
                                </div>

                                <div class="col-sm-3 col-xs-12">
                                    <div class="orientation-default content-tile bg-default content-tile-content-expander-link section">
                                        <div class="content-tile-container">
                                            <figure>

                                                <a href="undefined" class="expand-link">
                                                    <picture><!--[if IE 9] ><video style="display: none;"><![endif]--><source srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Manwani.png/_jcr_content/renditions/cq5dam.web.1600.9600.png" media="(min-width: 992px)"><source srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Manwani.png/_jcr_content/renditions/cq5dam.web.780.4680.png" media="(max-width: 991px)"><!--[if IE 9]></video><![endif]--><img srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Manwani.png/_jcr_content/renditions/original" alt="Harish Manwani"></picture><figcaption>
                                                        <h2>Harish Manwani</h2>
                                                        <p class="content-tile-subtitle">Non-executive director</p>
                                                        <div class="content-tile-text">
                                                            <p>
                                                                <b>Member of the nomination &amp; governance and reputation &amp; responsibility committees</b><br>
                                                            </p>
                                                            <p>Aged 63, appointed 1 October 2013</p>
                                                            <p>
                                                                Harish has an extensive background in emerging markets and senior experience in a successful global organisation. He was previously chief operating officer of consumer products company Unilever, having joined the company in 1976 as a marketing management trainee in India, and held senior management roles around the world, including North America, Latin America, Europe, Africa and Asia. He is non-executive chairman of Hindustan Unilever Limited in India, and serves on the boards of Whirlpool Corporation, Qualcomm Inc. and Nielsen Holdings. He is also on the board of the Indian School of Business and the Economic Development Board (EDB) of Singapore, and is global executive advisor at Blackstone Private Equity.<br>
                                                            </p>
                                                            <p>
                                                                <a class="new-window" href="/content/dam/one-dot-com/one-dot-com/global/Files/about-pearson/board-of-directors/Directors_hiresManwani.png.zip" target="_blank" tabindex="-1">Download Harish Manwani's Photo</a><br>
                                                            </p>
                                                        </div>
                                                    </figcaption>
                                                </a>
                                            </figure>
                                        </div>
                                    </div>


                                </div><div class="director-info col-xs-12" aria-expanded="false" style="display: none;">
                                    <a href="#" aria-label="Close info" class="close-info" tabindex="0"></a><h3>Harish Manwani</h3><h5>Non-executive director</h5>
                                    <p>
                                        <b>Member of the nomination &amp; governance and reputation &amp; responsibility committees</b><br>
                                    </p>
                                    <p>Aged 63, appointed 1 October 2013</p>
                                    <p>
                                        Harish has an extensive background in emerging markets and senior experience in a successful global organisation. He was previously chief operating officer of consumer products company Unilever, having joined the company in 1976 as a marketing management trainee in India, and held senior management roles around the world, including North America, Latin America, Europe, Africa and Asia. He is non-executive chairman of Hindustan Unilever Limited in India, and serves on the boards of Whirlpool Corporation, Qualcomm Inc. and Nielsen Holdings. He is also on the board of the Indian School of Business and the Economic Development Board (EDB) of Singapore, and is global executive advisor at Blackstone Private Equity.<br>
                                    </p>
                                    <p>
                                        <a class="new-window" href="/content/dam/one-dot-com/one-dot-com/global/Files/about-pearson/board-of-directors/Directors_hiresManwani.png.zip" target="_blank">Download Harish Manwani's Photo</a><br>
                                    </p>
                                </div>
                            </div>
                        </section>
                        <section class="default column-control column-control-content-expander section flex-layout-tablet">

                            <div class="row">
                                <div class="col-sm-3 col-xs-12">
                                    <div class="orientation-default content-tile bg-default content-tile-content-expander-link section">
                                        <div class="content-tile-container">
                                            <figure>

                                                <a href="undefined" class="expand-link">
                                                    <picture><!--[if IE 9] ><video style="display: none;"><![endif]--><source srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Score.png/_jcr_content/renditions/cq5dam.web.1600.9600.png" media="(min-width: 992px)"><source srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Score.png/_jcr_content/renditions/cq5dam.web.780.4680.png" media="(max-width: 991px)"><!--[if IE 9]></video><![endif]--><img srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Score.png/_jcr_content/renditions/original" alt="Tim Score"></picture><figcaption>
                                                        <h2>Tim Score</h2>
                                                        <p class="content-tile-subtitle">Non-executive director</p>
                                                        <div class="content-tile-text">
                                                            <p>
                                                                <b>Chairman of the audit committee and member of the nomination &amp; governance and remuneration committees</b><br>
                                                            </p>
                                                            <p>
                                                                Aged 56, appointed 1 January 2015.<br>
                                                            </p>
                                                            <p>
                                                                Tim has extensive experience of the technology sector in both developed and emerging markets, having served as chief financial officer of ARM Holdings plc, the world’s leading semiconductor IP company, a position he held for 13 years. He is an experienced non-executive director and currently sits on the boards of The British Land Company plc and HM Treasury. He served on the board of National Express Group plc from 2005 to 2014, including time as interim chairman and six years as the senior independent director. Earlier in his career Tim held senior finance roles with Rebus Group, William Baird, BTR plc and others.<br>
                                                            </p>
                                                            <p>
                                                                <a class="new-window" href="/content/dam/one-dot-com/one-dot-com/global/Files/about-pearson/board-of-directors/Directors_hiresScore.png.zip" target="_blank" tabindex="-1">Download Tim Score's Photo</a><br>
                                                            </p>
                                                        </div>
                                                    </figcaption>
                                                </a>
                                            </figure>
                                        </div>
                                    </div>


                                </div><div class="director-info col-xs-12" aria-expanded="false" style="display: none;">
                                    <a href="#" aria-label="Close info" class="close-info" tabindex="0"></a><h3>Tim Score</h3><h5>Non-executive director</h5>
                                    <p>
                                        <b>Chairman of the audit committee and member of the nomination &amp; governance and remuneration committees</b><br>
                                    </p>
                                    <p>
                                        Aged 56, appointed 1 January 2015.<br>
                                    </p>
                                    <p>
                                        Tim has extensive experience of the technology sector in both developed and emerging markets, having served as chief financial officer of ARM Holdings plc, the world’s leading semiconductor IP company, a position he held for 13 years. He is an experienced non-executive director and currently sits on the boards of The British Land Company plc and HM Treasury. He served on the board of National Express Group plc from 2005 to 2014, including time as interim chairman and six years as the senior independent director. Earlier in his career Tim held senior finance roles with Rebus Group, William Baird, BTR plc and others.<br>
                                    </p>
                                    <p>
                                        <a class="new-window" href="/content/dam/one-dot-com/one-dot-com/global/Files/about-pearson/board-of-directors/Directors_hiresScore.png.zip" target="_blank">Download Tim Score's Photo</a><br>
                                    </p>
                                </div>

                                <div class="col-sm-3 col-xs-12">
                                    <div class="default-padding section default-title-typesize default-content-tile-text--col-count default-title-typefamily has-padding-horizontal--default bgcolor--default default-links content-tile default-color default-subtitle-color content-tile-content-expander-link default-padding-bottom default-btn-type default-btn-width default-image-padding default-subtitle-typesize default-btn-size content-tile-portrait default-title-color default-subtitle-typefamily default-padding-top orientation-default bg-default default-subtitle-typeweight default-title-typeweight">
                                        <div class="content-tile-container">
                                            <figure>

                                                <a href="undefined" class="expand-link">
                                                    <picture><!--[if IE 9] ><video style="display: none;"><![endif]--><source srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Wallen.png/_jcr_content/renditions/cq5dam.web.1600.9600.png" media="(min-width: 992px)"><source srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Wallen.png/_jcr_content/renditions/cq5dam.web.780.4680.png" media="(max-width: 991px)"><!--[if IE 9]></video><![endif]--><img srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Wallen.png/_jcr_content/renditions/original" alt="Lincoln Wallen"></picture><figcaption>
                                                        <h2>Lincoln Wallen</h2>
                                                        <p class="content-tile-subtitle">Non-executive director</p>
                                                        <div class="content-tile-text">
                                                            <p>
                                                                <b>Member of the audit and reputation &amp; responsibility committees</b><br>
                                                            </p>
                                                            <p>
                                                                Aged 56, appointed 1 January 2016.<br>
                                                            </p>
                                                            <p>
                                                                Lincoln is the former CEO of DWA Nova, a software-as-a-service company born out of DreamWorks Animation Studios in Los Angeles, having stepped down at the end of September 2017. He worked at DreamWorks Animation for nine years in a variety of roles including CTO and head of animation technology. He was formerly CTO at Electronic Arts Mobile where he was instrumental in shaping EA’s approach to the mobile business. Lincoln’s early career involved 20 years of professional IT and mathematics research, including a reader in Computer Science at Oxford. Lincoln graduated from Durham University in 1981 with a BSc in Mathematics and Physics, before completing his PhD in Artificial Intelligence at the University of Edinburgh. Lincoln is a non-executive director of the Smith Institute, an advisory board member of Hewlett Packard Enterprise, a member of the STEM Advisory Committee of the National Academy foundation, and a visiting associate at the California Institute of Technology.<br>
                                                            </p>
                                                            <p>
                                                                <a class="new-window" href="/content/dam/one-dot-com/one-dot-com/global/Files/about-pearson/board-of-directors/Directors_hiresWallen.png.zip" target="_blank" tabindex="-1">Download Lincoln Wallen's Photo</a><br>
                                                            </p>
                                                        </div>
                                                    </figcaption>
                                                </a>
                                            </figure>
                                        </div>
                                    </div>


                                </div><div class="director-info col-xs-12" aria-expanded="false" style="display: none;">
                                    <a href="#" aria-label="Close info" class="close-info" tabindex="0"></a><h3>Lincoln Wallen</h3><h5>Non-executive director</h5>
                                    <p>
                                        <b>Member of the audit and reputation &amp; responsibility committees</b><br>
                                    </p>
                                    <p>
                                        Aged 56, appointed 1 January 2016.<br>
                                    </p>
                                    <p>
                                        Lincoln is the former CEO of DWA Nova, a software-as-a-service company born out of DreamWorks Animation Studios in Los Angeles, having stepped down at the end of September 2017. He worked at DreamWorks Animation for nine years in a variety of roles including CTO and head of animation technology. He was formerly CTO at Electronic Arts Mobile where he was instrumental in shaping EA’s approach to the mobile business. Lincoln’s early career involved 20 years of professional IT and mathematics research, including a reader in Computer Science at Oxford. Lincoln graduated from Durham University in 1981 with a BSc in Mathematics and Physics, before completing his PhD in Artificial Intelligence at the University of Edinburgh. Lincoln is a non-executive director of the Smith Institute, an advisory board member of Hewlett Packard Enterprise, a member of the STEM Advisory Committee of the National Academy foundation, and a visiting associate at the California Institute of Technology.<br>
                                    </p>
                                    <p>
                                        <a class="new-window" href="/content/dam/one-dot-com/one-dot-com/global/Files/about-pearson/board-of-directors/Directors_hiresWallen.png.zip" target="_blank">Download Lincoln Wallen's Photo</a><br>
                                    </p>
                                </div>

                                <div class="col-sm-3 col-xs-12">


                                </div>

                                <div class="col-sm-3 col-xs-12">
