@{
    ViewBag.Title = "BoardOfDirectors";
}

<h2>Board Of Directors</h2>
<hr />

<html>
<head>
    <style>
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing:border-box;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width:070%;
}

.button:hover {
  background-color: #555;
}
    </style>
</head>
<body>


    <div class="row">
        <div class="column">
            <div class="card">
                <img alt="Rick Hiles" src="~/Content/Images/Human Icon.png" style="width:100px;height:100px;">
                <h2>Rick Hiles</h2>
                    <p class="title">President</p>
                    <p>Insert biography description of individual.</p>
                <p><a class="button" href="mailto:Rickhiles1@aol.com">Email Rick</a></p>
                    
                
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img alt="Frank Jones, Jr." src="~/Content/Images/Human Icon.png" style="width:100px;height:100px;">
                
                    <h2>Frank Jones, Jr.</h2>
                    <p class="title">Vice President</p>
                    <p>Insert biography description of individual.</p>
                <p><a class="button" href="mailto:jjohnson@recrenoics.com">Email Frank</a></p>
                
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img alt="Dale Romans" src="~/Content/Images/Human Icon.png" style="width:100px;height:100px;">
                
                    <h2>Dale Romans</h2>
                    <p class="title">Vice President</p>
                <p>Insert biography description of individual.</p>
                <p><a class="button" href="mailto:daleracing@aol.com">Email Dale</a></p>
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="card">
                <img alt="Martin Maline" src="~/Content/Images/Human Icon.png" style="width:100px;height:100px;">
                <h2>Martin Maline</h2>
                <p class="title">Executive Director</p>
                <p>Insert biography description of individual.</p>
                <p><a class="button" href="mailto:kymarty@aol.com">Email Martin</a></p>

            </div>
        </div>

        <div class="column">
            <div class="card">
                <img alt="John Griffith" src="~/Content/Images/Human Icon.png" style="width:100px;height:100px;">

                <h2>John Griffith</h2>
                <p class="title">Treasurer</p>
                <p>Insert biography description of individual.</p>
                <p><a class="button" href="mailto:Margaritaville52@yahoo.com">Email John</a></p>

            </div>
        </div>
        <div class="column">
            <div class="card">
                <img alt="Sara Toomey" src="~/Content/Images/Human Icon.png" style="width:100px;height:100px;">

                <h2>Sara Toomey</h2>
                <p class="title">Executive Assistant</p>
                <p>Insert biography description of individual.</p>
                <p><a class="button" href="mailto:KentuckyHBPA@gmail.com">Email Sara</a></p>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="card">
                <img alt="Mark C. Bacon" src="~/Content/Images/Human Icon.png" style="width:100px;height:100px;">
                <h2>Mark C. Bacon</h2>
                <p class="title">Owner Director</p>
                <p>Insert biography description of individual.</p>
                <p><a class="button" href="mailto:Mark_Bacon@B-F.com">Email Mark</a></p>

            </div>
        </div>

        <div class="column">
            <div class="card">
                <img alt="F. Thomas Conway" src="~/Content/Images/Human Icon.png" style="width:100px;height:100px;">
                <h2>F. Thomas Conway</h2>
                <p class="title">Owner Director</p>
                <p>Insert biography description of individual.</p>
                <p><a class="button" href="mailto:FTConway@yahoo.com">Email F. Thomas</a></p>

            </div>
        </div>
        <div class="column">
            <div class="card">
                <img alt="Travis Foley Jr." src="~/Content/Images/Human Icon.png" style="width:100px;height:100px;">
                <h2>Travis Foley Jr.</h2>
                <p class="title">Owner Director</p>
                <p>Insert biography description of individual.</p>
                <p><a class="button" href="mailto:G.Foley@gregfoleyracing.com">Email Travis</a></p>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="card">
                <img alt="William (Buff) Bradley" src="~/Content/Images/Human Icon.png" style="width:100px;height:100px;">
                <h2>William (Buff) Bradley</h2>
                <p class="title">Trainer Director</p>
                <p>Insert biography description of individual.</p>
                <p><a class="button" href="mailto:buffracing@aol.com">Email William</a></p>

            </div>
        </div>

        <div class="column">
            <div class="card">
                <img alt="William R. Connelly" src="~/Content/Images/Human Icon.png" style="width:100px;height:100px;">

                <h2>William R. Connelly</h2>
                <p class="title">Trainer Director</p>
                <p>Insert biography description of individual.</p>
                <p><a class="button" href="mailto:BillConnelly19@gmail.com">Email William</a></p>

            </div>
        </div>
        <div class="column">
            <div class="card">
                <img alt="John Hancock" src="~/Content/Images/Human Icon.png" style="width:100px;height:100px;">

                <h2>John Hancock</h2>
                <p class="title">Trainer Director</p>
                <p>Insert biography description of individual.</p>
                <p><a class="button" href="mailto:JADstables@hotmail.com">Email John</a></p>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="card">
                <img alt="Ken McPeek" src="~/Content/Images/Human Icon.png" style="width:100px;height:100px;">
                <h2>Ken McPeek</h2>
                <p class="title">Trainer Director</p>
                <p>Insert biography description of individual.</p>
                <p><a class="button" href="mailto:kenny@mcpeekracing.com">Email Ken</a></p>

            </div>
        </div>

        <div class="column">
            <div class="card">
                <img alt="R.C. Sturgeon" src="~/Content/Images/Human Icon.png" style="width:100px;height:100px;">

                <h2>R.C. Sturgeon</h2>
                <p class="title">Alternate Trainer Director</p>
                <p>Insert biography description of individual.</p>
                <p><a class="button" href="mailto:bobbysturgeon@gmail.com">Email R.C.</a></p>

            </div>
        </div>
       </div>

</body>
</html>


