@{
    ViewBag.Title = "BoardOfDirectors";
}

<h2>Board Of Directors</h2>
<hr />

<main role="main" id="main-content">
    <div class="par-main parsys">
        <section class="default column-control section bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">

                    </div>
                </div>
            </div>
        </section>
        <section class="default column-control bg-grey section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <section class="default column-control column-control-content-expander section flex-layout-tablet">

                            <div class="row">
                                <div class="col-sm-3 col-xs-12">
                                    <div class="content-tile-container">
                                        <figure>

                                            <img alt="Rick Hiles" src="~/Content/Images/Human Icon.png" style="width:50px;height:50px;">
                                            <h2>Rick Hiles</h2>
                                            <p class="content-tile-subtitle">President</p>
                                            <div class="content-tile-text">
                                                <a href="Rickhiles1@aol.com">Email Rick</a>
                                                <p>Insert biography description of individual.</p>
                                            </div>
                                        </figure>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-12">
                                    <div class="content-tile-container">
                                        <figure>

                                            <img alt="Frank Jones, Jr." src="~/Content/Images/Human Icon.png" style="width:50px;height:50px;">
                                            <h2>Frank Jones, Jr.</h2>
                                            <p class="content-tile-subtitle"> Vice President</p>
                                            <div class="content-tile-text">
                                                <a href="jjohnson@recrenoics.com">Email Frank</a>
                                                <p>Insert biography description of individual.</p>
                                            </div>
                                        </figure>
                                    </div>
                                </div>


                                <div class="director-info col-xs-12" aria-expanded="false" style="display: none;">
                                    <a href="#" aria-label="Close info" class="close-info" tabindex="0"></a>

                                </div>

                                <div class="col-sm-3 col-xs-12">
                                    <div class="orientation-default content-tile bg-default content-tile-content-expander-link section">
                                        <div class="content-tile-container">
                                            <figure>

                                                <img alt="Dale Romans" src="~/Content/Images/Human Icon.png" style="width:50px;height:50px;">
                                                <h2>Dale Romans</h2>
                                                <p class="content-tile-subtitle"> Vice President</p>
                                                <div class="content-tile-text">
                                                    <a href="daleracing@aol.com">Email Dale</a>
                                                    <p>Insert biography description of individual.</p>
                                                </div>
                                            </figure>
                                        </div>
                                    </div>


                                    
                                </div><div class="director-info col-xs-12" aria-expanded="false" style="display: none;">
                                    <a href="#" aria-label="Close info" class="close-info" tabindex="0"></a>

                                    
                                </div>

                                <div class="col-sm-3 col-xs-12">
                                    <div class="orientation-default content-tile bg-default content-tile-content-expander-link section">
                                        <div class="content-tile-container">
                                            <figure>

                                                <img alt="Martin Maline" src="~/Content/Images/Human Icon.png" style="width:50px;height:50px;">
                                                <h2>Martin Maline</h2>
                                                <p class="content-tile-subtitle">Executive Director</p>
                                                <div class="content-tile-text">
                                                    <a href="kymarty@aol.com">Email Martin</a>
                                                    <p>Insert biography description of individual.</p>
                                                </div>
                                            </figure>
                                        </div>
                                    </div>


                                    
                                </div><div class="director-info col-xs-12" aria-expanded="false" style="display: none;">
                                    <a href="#" aria-label="Close info" class="close-info" tabindex="0"></a>
                                   
                                </div>
                            </div>
                        </section>
                        <section class="default column-control column-control-content-expander section flex-layout-tablet">

                            <div class="row">
                                <div class="col-sm-3 col-xs-12">
                                    <div class="orientation-default content-tile bg-default content-tile-content-expander-link section">
                                        <div class="content-tile-container">
                                            <figure>

                                                <img alt="John Griffith" src="~/Content/Images/Human Icon.png" style="width:50px;height:50px;">
                                                <h2>John Griffith</h2>
                                                <p class="content-tile-subtitle">Treasurer</p>
                                                <div class="content-tile-text">
                                                    <a href="margaritaville52@yahoo.com">Email John</a>
                                                    <p>Insert biography description of individual.</p>
                                                </div>
                                            </figure>
                                        </div>
                                    </div>


                                    
                                </div><div class="director-info col-xs-12" aria-expanded="false" style="display: none;">
                                    <a href="#" aria-label="Close info" class="close-info" tabindex="0"></a>
                                   
                                </div>

                                <div class="col-sm-3 col-xs-12">
                                    <div class="orientation-default content-tile bg-default content-tile-content-expander-link section">
                                        <div class="content-tile-container">
                                            <figure>

                                                <img alt="Sara Toomey" src="~/Content/Images/Human Icon.png" style="width:50px;height:50px;">
                                                <h2>Sara Toomey</h2>
                                                <p class="content-tile-subtitle">Executive Assistant</p>
                                                <div class="content-tile-text">
                                                    <a href="kentuckyHBPA@gmail,.com">Email Sara</a>
                                                    <p>Insert biography description of individual.</p>
                                                </div>
                                            </figure>
                                        </div>
                                    </div>


                                    
                                </div><div class="director-info col-xs-12" aria-expanded="false" style="display: none;">
                                    <a href="#" aria-label="Close info" class="close-info" tabindex="0"></a>
                                    
                                </div>

                                <div class="col-sm-3 col-xs-12">
                                    <div class="orientation-default content-tile bg-default content-tile-content-expander-link section">
                                        <div class="content-tile-container">
                                            <figure>

                                                <img alt="Mark C. Bacon" src="~/Content/Images/Human Icon.png" style="width:50px;height:50px;">
                                                <h2>Mark C. Bacon</h2>
                                                <p class="content-tile-subtitle">Owner Director</p>
                                                <div class="content-tile-text">
                                                    <a href="Mark_Bacon@B-F.com">Email Mark</a>
                                                    <p>Insert biography description of individual.</p>
                                                </div>
                                            </figure>
                                        </div>
                                    </div>


                                    
                                </div><div class="director-info col-xs-12" aria-expanded="false" style="display: none;">
                                    <a href="#" aria-label="Close info" class="close-info" tabindex="0"></a>
                                   
                                </div>

                                <div class="col-sm-3 col-xs-12">
                                    <div class="orientation-default content-tile bg-default content-tile-content-expander-link section">
                                        <div class="content-tile-container">
                                            <figure>

                                                <img alt="F. Thomas Conway" src="~/Content/Images/Human Icon.png" style="width:50px;height:50px;">
                                                <h2>F. Thomas Conway</h2>
                                                <p class="content-tile-subtitle">Owner Director</p>
                                                <div class="content-tile-text">
                                                    <a href="FTConway@yahoo.com">Email F. Thomas</a>
                                                    <p>Insert biography description of individual.</p>
                                                </div>
                                            </figure>
                                        </div>
                                    </div>


                                    
                                </div><div class="director-info col-xs-12" aria-expanded="false" style="display: none;">
                                    <a href="#" aria-label="Close info" class="close-info" tabindex="0"></a>
                                  
                                </div>
                            </div>
                        </section>
                        <section class="default column-control column-control-content-expander section flex-layout-tablet">

                            <div class="row">
                                <div class="col-sm-3 col-xs-12">
                                    <div class="orientation-default content-tile bg-default content-tile-content-expander-link section">
                                        <div class="content-tile-container">
                                            <figure>

                                                <img alt="Travis Foley Jr." src="~/Content/Images/Human Icon.png" style="width:50px;height:50px;">
                                                <h2>Travis Foley Jr.</h2>
                                                <p class="content-tile-subtitle">Owner Director</p>
                                                <div class="content-tile-text">
                                                    <a href="G.Foley@gregfoleyracing.com">Email Travis</a>
                                                    <p>Insert biography description of individual.</p>
                                                </div>
                                            </figure>
                                        </div>
                                    </div>


                                    
                                </div><div class="director-info col-xs-12" aria-expanded="false" style="display: none;">
                                    <a href="#" aria-label="Close info" class="close-info" tabindex="0"></a>
                                   
                                </div>

                                <div class="col-sm-3 col-xs-12">
                                    <div class="default-padding section default-title-typesize default-content-tile-text--col-count default-title-typefamily has-padding-horizontal--default bgcolor--default default-links content-tile default-color default-subtitle-color content-tile-content-expander-link default-padding-bottom default-btn-type default-btn-width default-image-padding default-subtitle-typesize default-btn-size content-tile-portrait default-title-color default-subtitle-typefamily default-padding-top orientation-default bg-default default-subtitle-typeweight default-title-typeweight">
                                        <div class="content-tile-container">
                                            <figure>

                                                <img alt="William (Buff) Bradley" src="~/Content/Images/Human Icon.png" style="width:50px;height:50px;">
                                                <h2>William (Buff) Bradley</h2>
                                                <p class="content-tile-subtitle">Trainer Director</p>
                                                <div class="content-tile-text">
                                                    <a href="buffracing@aol.com"> Email William</a>
                                                    <p>Insert biography description of individual.</p>
                                                </div>
                                            </figure>
                                        </div>
                                    </div>


                                    
                                </div><div class="director-info col-xs-12" aria-expanded="false" style="display: none;">
                                    <a href="#" aria-label="Close info" class="close-info" tabindex="0"></a>
                                   
                                    
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 col-xs-12">
                                        <div class="orientation-default content-tile bg-default content-tile-content-expander-link section">
                                            <div class="content-tile-container">
                                                <figure>

                                                    <img alt="William R. Connelly" src="~/Content/Images/Human Icon.png" style="width:50px;height:50px;">
                                                    <h2>William R. Connelly</h2>
                                                    <p class="content-tile-subtitle">Trainer Director</p>
                                                    <div class="content-tile-text">
                                                        <a href="BillConnelly1956@gmail.com">Email William</a>
                                                        <p>Insert biography description of individual.</p>
                                                    </div>
                                                </figure>
                                            </div>
                                        </div>



                                    </div><div class="director-info col-xs-12" aria-expanded="false" style="display: none;">
                                        <a href="#" aria-label="Close info" class="close-info" tabindex="0"></a>

                                    </div>

                                    <div class="col-sm-3 col-xs-12">
                                        <div class="default-padding section default-title-typesize default-content-tile-text--col-count default-title-typefamily has-padding-horizontal--default bgcolor--default default-links content-tile default-color default-subtitle-color content-tile-content-expander-link default-padding-bottom default-btn-type default-btn-width default-image-padding default-subtitle-typesize default-btn-size content-tile-portrait default-title-color default-subtitle-typefamily default-padding-top orientation-default bg-default default-subtitle-typeweight default-title-typeweight">
                                            <div class="content-tile-container">
                                                <figure>

                                                    <img alt="John Hancock" src="~/Content/Images/Human Icon.png" style="width:50px;height:50px;">
                                                    <h2>John Hancock</h2>
                                                    <p class="content-tile-subtitle">Trainer Director</p>
                                                    <div class="content-tile-text">
                                                        <a href="JADstables@hotmail.com"> Email John</a>
                                                        <p>Insert biography description of individual.</p>
                                                    </div>
                                                </figure>
                                            </div>
                                        </div>



                                    </div><div class="director-info col-xs-12" aria-expanded="false" style="display: none;">
                                        <a href="#" aria-label="Close info" class="close-info" tabindex="0"></a>


                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3 col-xs-12">
                                            <div class="orientation-default content-tile bg-default content-tile-content-expander-link section">
                                                <div class="content-tile-container">
                                                    <figure>

                                                        <img alt="Ken McPeek" src="~/Content/Images/Human Icon.png" style="width:50px;height:50px;">
                                                        <h2>Ken McPeek</h2>
                                                        <p class="content-tile-subtitle">Trainer Director</p>
                                                        <div class="content-tile-text">
                                                            <a href="kenny@mckpeekracing.com">Email Ken</a>
                                                            <p>Insert biography description of individual.</p>
                                                        </div>
                                                    </figure>
                                                </div>
                                            </div>



                                        </div><div class="director-info col-xs-12" aria-expanded="false" style="display: none;">
                                            <a href="#" aria-label="Close info" class="close-info" tabindex="0"></a>

                                        </div>

                                        <div class="col-sm-3 col-xs-12">
                                            <div class="default-padding section default-title-typesize default-content-tile-text--col-count default-title-typefamily has-padding-horizontal--default bgcolor--default default-links content-tile default-color default-subtitle-color content-tile-content-expander-link default-padding-bottom default-btn-type default-btn-width default-image-padding default-subtitle-typesize default-btn-size content-tile-portrait default-title-color default-subtitle-typefamily default-padding-top orientation-default bg-default default-subtitle-typeweight default-title-typeweight">
                                                <div class="content-tile-container">
                                                    <figure>

                                                        <img alt="R.C. Sturgeon" src="~/Content/Images/Human Icon.png" style="width:50px;height:50px;">
                                                        <h2>R.C. Surgeon</h2>
                                                        <p class="content-tile-subtitle"></p>
                                                        <div class="content-tile-text">
                                                            <a href="bobbysturgeon@gmail.com"> Email R.C.</a>
                                                            <p>Insert biography description of individual.</p>
                                                        </div>
                                                    </figure>
                                                </div>
                                            </div>


