
@{
    ViewBag.Title = "BoardOfDirectors";
}

<h2>Board Of Directors</h2>

<main role="main" id="main-content">
    <div class="par-main parsys">
        @*<section class="default column-control section bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">

                    </div>
                </div>
            </div>
        </section>*@
        <section class="default column-control bg-grey section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <section class="default column-control column-control-content-expander section flex-layout-tablet">

                            <div class="row">
                                <div class="col-sm-3 col-xs-12">
                                    <div class="orientation-default content-tile bg-default content-tile-content-expander-link section">
                                        <div class="content-tile-container">
                                            <figure>

                                                <a href="undefined" class="expand-link">
                                                    <img alt="Rick Hiles" src="~/Content/Images/Human_Icon.jpg" style="width:50px;height:50px;">   
                                                    <h2>Rick Hiles</h2>
                                                        <p class="content-tile-subtitle">President</p>
                                                        <div class="content-tile-text">
                                                            <p>Insert biography description of individual.</p>
                                                              </div>
                                                    </figure>
                                        </div>
                                    </div></div>
                               <div class="col-sm-3 col-xs-12">
                                    <div class="default-image-padding default-btn-type default-btn-width default-subtitle-typesize default-padding section default-btn-size content-tile-portrait default-title-typesize default-title-color default-subtitle-typefamily default-content-tile-text--col-count default-title-typefamily bgcolor--default orientation-default content-tile default-color bg-default default-subtitle-color default-subtitle-typeweight content-tile-content-expander-link default-title-typeweight">
                                        <div class="content-tile-container">
                                            <figure>

                                                <a href="undefined" class="expand-link">
                                                    <picture><!--[if IE 9] ><video style="display: none;"><![endif]--><source srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Fallon-032017.png/_jcr_content/renditions/cq5dam.web.1600.9600.png" media="(min-width: 992px)"><source srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Fallon-032017.png/_jcr_content/renditions/cq5dam.web.780.4680.png" media="(max-width: 991px)"><!--[if IE 9]></video><![endif]--><img srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Fallon-032017.png/_jcr_content/renditions/original" alt="John Fallon"></picture><figcaption>
                                                        <h2>John Fallon</h2>
                                                        <p class="content-tile-subtitle">Chief executive</p>
                                                        <div class="content-tile-text">
                                                            <p>Aged 54, appointed 3 October 2012.</p>
                                                            <p>
                                                                Insert biography description of individual.</p>
                                                            <p><a href="/content/dam/one-dot-com/one-dot-com/global/Files/about-pearson/board-of-directors/Directors_hiresFallon-032017.png.zip" target="_blank" class="new-window" tabindex="-1">Download John Fallon's Photo</a></p>
                                                        </div>
                                                    </figcaption>
                                                </a>
                                            </figure>
                                        </div>
                                    </div>


                                </div><div class="director-info col-xs-12" aria-expanded="false" style="display: none;">
                                    <a href="#" aria-label="Close info" class="close-info" tabindex="0"></a><h3>John Fallon</h3><h5>Chief executive</h5>
                                    <p>Aged 54, appointed 3 October 2012.</p>
                                    <p>
                                        Insert biography description of individual.</p>
                                    <p><a href="/content/dam/one-dot-com/one-dot-com/global/Files/about-pearson/board-of-directors/Directors_hiresFallon-032017.png.zip" target="_blank" class="new-window">Download John Fallon's Photo</a></p>
                                </div>

                                <div class="col-sm-3 col-xs-12">
                                    <div class="orientation-default content-tile bg-default content-tile-content-expander-link section">
                                        <div class="content-tile-container">
                                            <figure>

                                                <a href="undefined" class="expand-link">
                                                    <picture><!--[if IE 9] ><video style="display: none;"><![endif]--><source srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Williams.png/_jcr_content/renditions/cq5dam.web.1600.9600.png" media="(min-width: 992px)"><source srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Williams.png/_jcr_content/renditions/cq5dam.web.780.4680.png" media="(max-width: 991px)"><!--[if IE 9]></video><![endif]--><img srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Williams.png/_jcr_content/renditions/original" alt="Coram Williams"></picture><figcaption>
                                                        <h2>Coram Williams</h2>
                                                        <p class="content-tile-subtitle">Chief financial officer</p>
                                                        <div class="content-tile-text">
                                                            <p>Aged 43, appointed 1 August 2015.</p>
                                                            <p>
                                                                Insert biography description of individual.</p>
                                                            <p><a class="new-window" href="/content/dam/one-dot-com/one-dot-com/global/Files/about-pearson/board-of-directors/Directors_hiresWilliams.png.zip" target="_blank" tabindex="-1">Download Coram Williams' Photo</a></p>
                                                        </div>
                                                    </figcaption>
                                                </a>
                                            </figure>
                                        </div>
                                    </div>


                                </div><div class="director-info col-xs-12" aria-expanded="false" style="display: none;">
                                    <a href="#" aria-label="Close info" class="close-info" tabindex="0"></a><h3>Coram Williams</h3><h5>Chief financial officer</h5>
                                    <p>Aged 43, appointed 1 August 2015.</p>
                                    <p>
                                        Insert biography description of individual. </p>
                                    <p><a class="new-window" href="/content/dam/one-dot-com/one-dot-com/global/Files/about-pearson/board-of-directors/Directors_hiresWilliams.png.zip" target="_blank">Download Coram Williams' Photo</a></p>
                                </div>

                                <div class="col-sm-3 col-xs-12">
                                    <div class="orientation-default content-tile bg-default content-tile-content-expander-link section">
                                        <div class="content-tile-container">
                                            <figure>

                                                <a href="undefined" class="expand-link">
                                                    <picture><!--[if IE 9] ><video style="display: none;"><![endif]--><source srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Corley.png/_jcr_content/renditions/cq5dam.web.1600.9600.png" media="(min-width: 992px)"><source srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Corley.png/_jcr_content/renditions/cq5dam.web.780.4680.png" media="(max-width: 991px)"><!--[if IE 9]></video><![endif]--><img srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Corley.png/_jcr_content/renditions/original" alt="Elizabeth Corley"></picture><figcaption>
                                                        <h2>Elizabeth Corley, CBE</h2>
                                                        <p class="content-tile-subtitle">Non-executive director</p>
                                                        <div class="content-tile-text">
                                                            <p>
                                                                <b>Chairman of the remuneration committee and member of the audit and nomination &amp; governance committees</b><br>
                                                            </p>
                                                            <p>Aged 60, appointed 1 May 2014.</p>
                                                            <p>
                                                                Insert biography description of individual.</p>
                                                            <p>
                                                                <a class="new-window" href="/content/dam/one-dot-com/one-dot-com/global/Files/about-pearson/board-of-directors/Directors_hiresCorley.png.zip" target="_blank" tabindex="-1">Download Elizabeth Corley's Photo</a><br>
                                                            </p>
                                                        </div>
                                                    </figcaption>
                                                </a>
                                            </figure>
                                        </div>
                                    </div>


                                </div><div class="director-info col-xs-12" aria-expanded="false" style="display: none;">
                                    <a href="#" aria-label="Close info" class="close-info" tabindex="0"></a><h3>Elizabeth Corley, CBE</h3><h5>Non-executive director</h5>
                                    <p>
                                        <b>Chairman of the remuneration committee and member of the audit and nomination &amp; governance committees</b><br>
                                    </p>
                                    <p>Aged 60, appointed 1 May 2014.</p>
                                    <p>
                                        Insert biography description of individual. </p>
                                    <p>
                                        <a class="new-window" href="/content/dam/one-dot-com/one-dot-com/global/Files/about-pearson/board-of-directors/Directors_hiresCorley.png.zip" target="_blank">Download Elizabeth Corley's Photo</a><br>
                                    </p>
                                </div>
                            </div>
                        </section>
                        <section class="default column-control column-control-content-expander section flex-layout-tablet">

                            <div class="row">
                                <div class="col-sm-3 col-xs-12">
                                    <div class="orientation-default content-tile bg-default content-tile-content-expander-link section">
                                        <div class="content-tile-container">
                                            <figure>

                                                <a href="undefined" class="expand-link">
                                                    <picture><!--[if IE 9] ><video style="display: none;"><![endif]--><source srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Cox.png/_jcr_content/renditions/cq5dam.web.1600.9600.png" media="(min-width: 992px)"><source srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Cox.png/_jcr_content/renditions/cq5dam.web.780.4680.png" media="(max-width: 991px)"><!--[if IE 9]></video><![endif]--><img srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Cox.png/_jcr_content/renditions/original" alt="Vivienne Cox, CBE"></picture><figcaption>
                                                        <h2>Vivienne Cox, CBE</h2>
                                                        <p class="content-tile-subtitle">Senior independent director</p>
                                                        <div class="content-tile-text">
                                                            <p><b>Senior independent director</b></p>
                                                            <p>
                                                                <b>Chairman of the nomination &amp; governance committee and member of the audit and reputation &amp; responsibility committees</b><br>
                                                            </p>
                                                            <p>Aged 57, appointed 1 January 2012</p>
                                                            <p>
                                                                Insert biography description of individual.</p>
                                                            <p>
                                                                <a class="new-window" href="/content/dam/one-dot-com/one-dot-com/global/Files/about-pearson/board-of-directors/Directors_hiresCox.png.zip" target="_blank" tabindex="-1">Download Vivienne Cox's Photo</a><br>
                                                            </p>
                                                        </div>
                                                    </figcaption>
                                                </a>
                                            </figure>
                                        </div>
                                    </div>


                                </div><div class="director-info col-xs-12" aria-expanded="false" style="display: none;">
                                    <a href="#" aria-label="Close info" class="close-info" tabindex="0"></a><h3>Vivienne Cox, CBE</h3><h5>Senior independent director</h5>
                                    <p><b>Senior independent director</b></p>
                                    <p>
                                        <b>Chairman of the nomination &amp; governance committee and member of the audit and reputation &amp; responsibility committees</b><br>
                                    </p>
                                    <p>Aged 57, appointed 1 January 2012</p>
                                    <p>
                                        Insert biography description of individual.</p>
                                    <p>
                                        <a class="new-window" href="/content/dam/one-dot-com/one-dot-com/global/Files/about-pearson/board-of-directors/Directors_hiresCox.png.zip" target="_blank">Download Vivienne Cox's Photo</a><br>
                                    </p>
                                </div>

                                <div class="col-sm-3 col-xs-12">
                                    <div class="orientation-default content-tile bg-default content-tile-content-expander-link section">
                                        <div class="content-tile-container">
                                            <figure>

                                                <a href="undefined" class="expand-link">
                                                    <picture><!--[if IE 9] ><video style="display: none;"><![endif]--><source srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Lewis.png/_jcr_content/renditions/cq5dam.web.1600.9600.png" media="(min-width: 992px)"><source srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Lewis.png/_jcr_content/renditions/cq5dam.web.780.4680.png" media="(max-width: 991px)"><!--[if IE 9]></video><![endif]--><img srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Lewis.png/_jcr_content/renditions/original" alt="Joshua Lewis"></picture><figcaption>
                                                        <h2>Joshua Lewis</h2>
                                                        <p class="content-tile-subtitle">Non-executive director</p>
                                                        <div class="content-tile-text">
                                                            <p>
                                                                <b>Member of the remuneration and nomination &amp; governance committees</b><br>
                                                            </p>
                                                            <p>
                                                                Aged 54, appointed 1 March 2011.<br>
                                                            </p>
                                                            <p>
                                                                Insert biography description of individual.</p>
                                                            <p>
                                                                <a class="new-window" href="/content/dam/one-dot-com/one-dot-com/global/Files/about-pearson/board-of-directors/Directors_hiresLewis.png.zip" target="_blank" tabindex="-1">Download Joshua Lewis' Photo</a><br>
                                                            </p>
                                                        </div>
                                                    </figcaption>
                                                </a>
                                            </figure>
                                        </div>
                                    </div>


                                </div><div class="director-info col-xs-12" aria-expanded="false" style="display: none;">
                                    <a href="#" aria-label="Close info" class="close-info" tabindex="0"></a><h3>Joshua Lewis</h3><h5>Non-executive director</h5>
                                    <p>
                                        <b>Member of the remuneration and nomination &amp; governance committees</b><br>
                                    </p>
                                    <p>
                                        Aged 54, appointed 1 March 2011.<br>
                                    </p>
                                    <p>
                                        Insert biography description of individual.</p>
                                    <p>
                                        <a class="new-window" href="/content/dam/one-dot-com/one-dot-com/global/Files/about-pearson/board-of-directors/Directors_hiresLewis.png.zip" target="_blank">Download Joshua Lewis' Photo</a><br>
                                    </p>
                                </div>

                                <div class="col-sm-3 col-xs-12">
                                    <div class="orientation-default content-tile bg-default content-tile-content-expander-link section">
                                        <div class="content-tile-container">
                                            <figure>

                                                <a href="undefined" class="expand-link">
                                                    <picture><!--[if IE 9] ><video style="display: none;"><![endif]--><source srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Lorimer.png/_jcr_content/renditions/cq5dam.web.1600.9600.png" media="(min-width: 992px)"><source srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Lorimer.png/_jcr_content/renditions/cq5dam.web.780.4680.png" media="(max-width: 991px)"><!--[if IE 9]></video><![endif]--><img srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Lorimer.png/_jcr_content/renditions/original" alt="Linda Lorimer"></picture><figcaption>
                                                        <h2>Linda Lorimer</h2>
                                                        <p class="content-tile-subtitle">Non-executive director</p>
                                                        <div class="content-tile-text">
                                                            <p>
                                                                <b>Chairman of the reputation &amp; responsibility committee and member of the audit committee</b><br>
                                                            </p>
                                                            <p>Aged 64, appointed 1 July 2013</p>
                                                            <p>
                                                                Insert biography description of individual.  </p>
                                                            <p>
                                                                <a class="new-window" href="/content/dam/one-dot-com/one-dot-com/global/Files/about-pearson/board-of-directors/Directors_hiresLorimer.png.zip" target="_blank" tabindex="-1">Download Linda Lorimer's Photo</a><br>
                                                            </p>
                                                        </div>
                                                    </figcaption>
                                                </a>
                                            </figure>
                                        </div>
                                    </div>


                                </div><div class="director-info col-xs-12" aria-expanded="false" style="display: none;">
                                    <a href="#" aria-label="Close info" class="close-info" tabindex="0"></a><h3>Linda Lorimer</h3><h5>Non-executive director</h5>
                                    <p>
                                        <b>Chairman of the reputation &amp; responsibility committee and member of the audit committee</b><br>
                                    </p>
                                    <p>Aged 64, appointed 1 July 2013</p>
                                    <p>
                                        Insert biography description of individual.</p>
                                    <p>
                                        <a class="new-window" href="/content/dam/one-dot-com/one-dot-com/global/Files/about-pearson/board-of-directors/Directors_hiresLorimer.png.zip" target="_blank">Download Linda Lorimer's Photo</a><br>
                                    </p>
                                </div>

                                <div class="col-sm-3 col-xs-12">
                                    <div class="orientation-default content-tile bg-default content-tile-content-expander-link section">
                                        <div class="content-tile-container">
                                            <figure>

                                                <a href="undefined" class="expand-link">
                                                    <picture><!--[if IE 9] ><video style="display: none;"><![endif]--><source srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Manwani.png/_jcr_content/renditions/cq5dam.web.1600.9600.png" media="(min-width: 992px)"><source srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Manwani.png/_jcr_content/renditions/cq5dam.web.780.4680.png" media="(max-width: 991px)"><!--[if IE 9]></video><![endif]--><img srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Manwani.png/_jcr_content/renditions/original" alt="Harish Manwani"></picture><figcaption>
                                                        <h2>Harish Manwani</h2>
                                                        <p class="content-tile-subtitle">Non-executive director</p>
                                                        <div class="content-tile-text">
                                                            <p>
                                                                <b>Member of the nomination &amp; governance and reputation &amp; responsibility committees</b><br>
                                                            </p>
                                                            <p>Aged 63, appointed 1 October 2013</p>
                                                            <p>
                                                                Insert biography description of individual.</p>
                                                            <p>
                                                                <a class="new-window" href="/content/dam/one-dot-com/one-dot-com/global/Files/about-pearson/board-of-directors/Directors_hiresManwani.png.zip" target="_blank" tabindex="-1">Download Harish Manwani's Photo</a><br>
                                                            </p>
                                                        </div>
                                                    </figcaption>
                                                </a>
                                            </figure>
                                        </div>
                                    </div>


                                </div><div class="director-info col-xs-12" aria-expanded="false" style="display: none;">
                                    <a href="#" aria-label="Close info" class="close-info" tabindex="0"></a><h3>Harish Manwani</h3><h5>Non-executive director</h5>
                                    <p>
                                        <b>Member of the nomination &amp; governance and reputation &amp; responsibility committees</b><br>
                                    </p>
                                    <p>Aged 63, appointed 1 October 2013</p>
                                    <p>
                                        Insert biography description of individual.</p>
                                    <p>
                                        <a class="new-window" href="/content/dam/one-dot-com/one-dot-com/global/Files/about-pearson/board-of-directors/Directors_hiresManwani.png.zip" target="_blank">Download Harish Manwani's Photo</a><br>
                                    </p>
                                </div>
                            </div>
                        </section>
                        <section class="default column-control column-control-content-expander section flex-layout-tablet">

                            <div class="row">
                                <div class="col-sm-3 col-xs-12">
                                    <div class="orientation-default content-tile bg-default content-tile-content-expander-link section">
                                        <div class="content-tile-container">
                                            <figure>

                                                <a href="undefined" class="expand-link">
                                                    <picture><!--[if IE 9] ><video style="display: none;"><![endif]--><source srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Score.png/_jcr_content/renditions/cq5dam.web.1600.9600.png" media="(min-width: 992px)"><source srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Score.png/_jcr_content/renditions/cq5dam.web.780.4680.png" media="(max-width: 991px)"><!--[if IE 9]></video><![endif]--><img srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Score.png/_jcr_content/renditions/original" alt="Tim Score"></picture><figcaption>
                                                        <h2>Tim Score</h2>
                                                        <p class="content-tile-subtitle">Non-executive director</p>
                                                        <div class="content-tile-text">
                                                            <p>
                                                                <b>Chairman of the audit committee and member of the nomination &amp; governance and remuneration committees</b><br>
                                                            </p>
                                                            <p>
                                                                Aged 56, appointed 1 January 2015.<br>
                                                            </p>
                                                            <p>
                                                                Insert biography description of individual.</p>
                                                            <p>
                                                                <a class="new-window" href="/content/dam/one-dot-com/one-dot-com/global/Files/about-pearson/board-of-directors/Directors_hiresScore.png.zip" target="_blank" tabindex="-1">Download Tim Score's Photo</a><br>
                                                            </p>
                                                        </div>
                                                    </figcaption>
                                                </a>
                                            </figure>
                                        </div>
                                    </div>


                                </div><div class="director-info col-xs-12" aria-expanded="false" style="display: none;">
                                    <a href="#" aria-label="Close info" class="close-info" tabindex="0"></a><h3>Tim Score</h3><h5>Non-executive director</h5>
                                    <p>
                                        <b>Chairman of the audit committee and member of the nomination &amp; governance and remuneration committees</b><br>
                                    </p>
                                    <p>
                                        Aged 56, appointed 1 January 2015.<br>
                                    </p>
                                    <p>
                                        Insert biography description of individual. </p>
                                    <p>
                                        <a class="new-window" href="/content/dam/one-dot-com/one-dot-com/global/Files/about-pearson/board-of-directors/Directors_hiresScore.png.zip" target="_blank">Download Tim Score's Photo</a><br>
                                    </p>
                                </div>

                                <div class="col-sm-3 col-xs-12">
                                    <div class="default-padding section default-title-typesize default-content-tile-text--col-count default-title-typefamily has-padding-horizontal--default bgcolor--default default-links content-tile default-color default-subtitle-color content-tile-content-expander-link default-padding-bottom default-btn-type default-btn-width default-image-padding default-subtitle-typesize default-btn-size content-tile-portrait default-title-color default-subtitle-typefamily default-padding-top orientation-default bg-default default-subtitle-typeweight default-title-typeweight">
                                        <div class="content-tile-container">
                                            <figure>

                                                <a href="undefined" class="expand-link">
                                                    <picture><source srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Wallen.png/_jcr_content/renditions/cq5dam.web.1600.9600.png" media="(min-width: 992px)"><source srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Wallen.png/_jcr_content/renditions/cq5dam.web.780.4680.png" media="(max-width: 991px)"><!--[if IE 9]></video><![endif]--><img srcset="/content/dam/one-dot-com/one-dot-com/global/Images/board/Directors_Wallen.png/_jcr_content/renditions/original" alt="Lincoln Wallen"></picture><figcaption>
                                                        <h2>Lincoln Wallen</h2>
                                                        <p class="content-tile-subtitle">Non-executive director</p>
                                                        <div class="content-tile-text">
                                                            <p>
                                                                <b>Member of the audit and reputation &amp; responsibility committees</b><br>
                                                            </p>
                                                            <p>
                                                                Aged 56, appointed 1 January 2016.<br>
                                                            </p>
                                                            <p>
                                                                Insert biography description of individual.</p>
                                                          
                                                        </div>
                                                    </figcaption>
                                                </a>
                                            </figure>
                                        </div>
                                    </div>


                                @*</div><div class="director-info col-xs-12" aria-expanded="false" style="display: none;">
                                    <a href="#" aria-label="Close info" class="close-info" tabindex="0"></a><h3>Lincoln Wallen</h3><h5>Non-executive director</h5>
                                    <p>
                                        <b>Member of the audit and reputation &amp; responsibility committees</b><br>
                                    </p>
                                    <p>
                                        Aged 56, appointed 1 January 2016.<br>
                                    </p>
                                    <p>
                                        Insert biography description of individual.</p>
                                    <p>
                                        <a class="new-window" href="/content/dam/one-dot-com/one-dot-com/global/Files/about-pearson/board-of-directors/Directors_hiresWallen.png.zip" target="_blank">Download Lincoln Wallen's Photo</a><br>
                                    </p>
                                </div>*@

                                