
@{
    ViewBag.Title = "History";
}
<h1>@ViewBag.Title</h1>
<hr />
<h2 style="color:gold">History of Kentucky's Horse Industry</h2>

<p>
   <h4> The horse racing industry has a long and proud history. Below is some additional information about the history of the horseracing industry in the state of Kentucky. </h4>
    <br /><iframe src="http://hbpa.wpengine.com/wp-content/uploads/IndustryHandout.pdf" style=" width:85%; height:800px;">
<p>Your browser does not support iframes.</p>
</iframe>
</p>
  <h2 style="color: gold">Kentucky Horse Industry by Numbers</h2>
<h4>  As seen above, there is a good portion of Kentucky history that deals with horseracing. Below are some additional numbers that tie in with this indurstry.
</h4> <br />
<p><iframe src="http://hbpa.wpengine.com/wp-content/uploads/HorseIndustryFactsandFigures.pdf" style=" width:85%; height:800px;">
<p>Your browser does not support iframes.</p>
</iframe>
</p>