@{
    ViewBag.Title = "Home Page";
}
<script src="http://codeorigin.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<div id="fb-root"></div>
<script>
(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<div>
    <div id="mycarousel" class="carousel slide" data-ride="carousel" style="margin-top:0; border:0;">
        <ol class="carousel-indicators">
            <li data-target="mycarousel" data-slide-to="0"></li>
            <li data-target="mycarousel" data-slide-to="1"></li>
            <li data-target="mycarousel" data-slide-to="2"></li>
            <li data-target="mycarousel" data-slide-to="3"></li>
            <li data-target="mycarousel" data-slide-to="4"></li>
            <li data-target="mycarousel" data-slide-to="5"></li>
        </ol>
        <div class="carousel-inner" role="listbox" style="height:400px">
            <div class="item active">
                <img src="~/Content/Images/Kentucky Derby 2.jpg" style="background-image:inherit" />

            </div>
            <div class="item">
                <img src="~/Content/Images/kentuckyderby-hero7.jpg" style="background-image:inherit" />
            </div>
            <div class="item">
                <img src="~/Content/Images/horse_racing-17.jpg" style="background-image:inherit" />
            </div>
            <div class="item">
                <img src="~/Content/Images/preakness.jpg" style="background-image:inherit" />
            </div>
            <div class="item">
                <img src="~/Content/Images/preakness2.jpg" style="background-image:inherit" />
            </div>
            <div class="item">
                <img src="~/Content/Images/preaknessPostRace.jpg" style="background-image:inherit" />
            </div>

        </div>
        <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>


<div class="col-lg-12">
    @*<div class="panel-body">
        <h1>Kentucky Horsemen’s Benevolent and Protective Association</h1>
        <h3>| Our Mission Statement |</h3>
        <p> The KHBPA is an organization dedicated to providing benevolence to horsemen throughout the region.</p>
    </div>*@
    <div class="jumbotron">
        <img src="~/Content/Images/Picture2.png" style="float:left; height:7%; width:7%; padding-left:5px; padding-right:5px; opacity:1" alt="KYHBPA Logo">

        <p class="lead" style="color:white">
            The Kentucky Horsemen's Benevolent and Protective Association (HBPA) provides benevolence to horsemen in need, education
            and recreation programs to the backstretch, and various insurance packages. <i>We are Horsemen helping Horsemen.</i>
        </p>
    </div>

</div>
<div class="row">
    <div class="col-md-4" style="padding-right:5px; padding-left:1px">
        <div class="panel-body" style="border:1px solid; border-color:#CFB53B">
            <h3>Learn more about the KYHBPA</h3>
            <p>
                Learn about our history and discover what we do for the Kentucky racing community!
            </p>
            <p><a class="btn btn-default" href="~/Home/About">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel-body" style="border:1px solid #CFB53B;">

            <h3>Become a Member</h3>
            <p>Sign up for a membership to join the KHBPA community and start receiving benefits!</p>
            <p><a class="btn btn-default" href="~/Account/Register">Sign Up &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel-body" style="border:1px solid #CFB53B;">

            <h3>Newsletters</h3>
            <p>Sign Up for a Newsletter and keep up with all things racing, locally and nationally!</p>
            <p><a class="btn btn-default" href="~/Home/News">Subscribe &raquo;</a></p>
        </div>
    </div>

<div class="col-md-4" style="margin-bottom:35px; margin-top:75px; ">
    <a class="twitter-timeline"
       href="https://twitter.com/KyHBPA?ref_src=twsrc%5Etfw"
       data-width="500"
       data-height="800">
        Tweets by KyHbpa
    </a>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<div class="fb-page col-md-4" style="margin-bottom:35px; margin-top:75px;" data-href="https://www.facebook.com/KYhbpa/" data-tabs="timeline" data-width="500" data-height="800" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/KYhbpa/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/KYhbpa/">Kentucky HBPA</a></blockquote></div>

<div class=" col-md-4" style="margin-bottom:35px; margin-top:75px; " >
        <div id="pixlee_container"></div>
        <script type="text/javascript">window.PixleeAsyncInit = function () { Pixlee.init({ apiKey: 'qzqOeDKU1r5UHbvlhQt9' }); Pixlee.addSimpleWidget({ widgetId: '671' }); };</script>
        <script src="//instafeed.assets.pixlee.com/assets/pixlee_widget_1_0_0.js"></script>
</div>

<div class="col-md-8" style="margin-bottom: 35px; margin-top:75px;">

    <div class="container">
        <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Content/Images/racinglittleslideshow2.jpg" alt="Slide1" style="height:400px; width:1200px;">
                    <div class="carousel-caption">
                        <a href="" style="color:white;">
                            <h2>Headline</h2>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                        </a>
                    </div>
                </div>

                <div class="item">
                    <img src="~/Content/Images/racinglittleslideshow3.jpg" alt="Slide2" style="height:400px; width:1200px;">
                    <div class="carousel-caption">
                        <a href="" style="color:white;">
                            <h2>Headline</h2>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                        </a>
                    </div>
                </div>

                <div class="item">
                    <img src="~/Content/Images/racinglittleslideshow1.jpg" alt="Slide3" style="height:400px; width:1200px;">
                    <div class="carousel-caption">
                        <a href="" style="color:white;">
                            <h2>Headline</h2>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="carousel-controls">
                <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="fa fa-angle-double-left fa-lg"></i></a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="fa fa-angle-double-right fa-lg"></i></a>
            </div>

        </div>
    </div>
    
    <script>
        $('.dropdown-toggle').dropdown();


        $('#myCarousel').carousel({
            interval: 8000
        });
    </script>
</div>
    <div class="col-md-8" style="margin-bottom: 35px; margin-top:10px; padding-right:10px;" data-width="500" data-height="700"  >
        <div id="qp_all1917914" style="width:100%;">
            <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
            <STYLE>
                #qp_main1917914 .qp_btna:hover input {
                    background: #00355F !important
                }

                #qp_all1917914 {
                    max-width: 815px;
                    margin: 0 auto;
                }
            </STYLE>
            <div id="qp_main1917914" fp='b33E4828-51' results=0 style="border-radius:0px;margin:0 auto;padding:0.8em;background-color:#FFF;font-family: 'Open Sans', sans-serif, Arial;color:#000;border: 1px solid #DBD9D9;max-width:815px;box-sizing:border-box">
                <div style="font-size:1.2em;background-color:#00355F;color:#FFF;font-family:'Open Sans', sans-serif, Arial">
                    <div style="padding:0.8em;line-height:1.3em">When should we hold our event?
                    </div>
                </div>
                <form id="qp_form1917914" action="//www.poll-maker.com/results1917914xb33E4828-51" method="post" target="_blank" style="display:inline;justify-content:center; margin:0px;padding:0px"><div style="padding:0px"><input type=hidden name="qp_d1917914" value="43032.0519907492-43032.0519793551"><div style="display:block;color:#6B6B6B;font-family: 'Open Sans', sans-serif, Arial;font-size:1.1em;line-height:1.5;padding:13px 8px 11px;margin:10px 0px;clear:both" class="qp_a" onClick="var c=this.getElementsByTagName('INPUT')[0]; if((!event.target?event.srcElement:event.target).tagName!='INPUT'){c.checked=(c.type=='radio'?true:!c.checked)};var i=this.parentNode.parentNode.parentNode.getElementsByTagName('INPUT');for(var k=0;k!=i.length;k=k+1){i[k].parentNode.parentNode.setAttribute('sel',i[k].checked?1:0)}"><span style="display:block;padding-left:30px;cursor:inherit"><input style="float:left;width:20px;margin-left:-25px;margin-top:2px;padding:0px;height:20px;-webkit-appearance:radio;" name="qp_v1917914" type="radio" value="1" />Oct 31</span></div><div style="display:block;color:#6B6B6B;font-family: 'Open Sans', sans-serif, Arial;font-size:1.1em;line-height:1.5;padding:13px 8px 11px;margin:10px 0px;clear:both" class="qp_a" onClick="var c=this.getElementsByTagName('INPUT')[0]; if((!event.target?event.srcElement:event.target).tagName!='INPUT'){c.checked=(c.type=='radio'?true:!c.checked)};var i=this.parentNode.parentNode.parentNode.getElementsByTagName('INPUT');for(var k=0;k!=i.length;k=k+1){i[k].parentNode.parentNode.setAttribute('sel',i[k].checked?1:0)}"><span style="display:block;padding-left:30px;cursor:inherit"><input style="float:left;width:20px;margin-left:-25px;margin-top:2px;padding:0px;height:20px;-webkit-appearance:radio;" name="qp_v1917914" type="radio" value="2" />Nov 5</span></div><div style="display:block;color:#6B6B6B;font-family: 'Open Sans', sans-serif, Arial;font-size:1.1em;line-height:1.5;padding:13px 8px 11px;margin:10px 0px;clear:both" class="qp_a" onClick="var c=this.getElementsByTagName('INPUT')[0]; if((!event.target?event.srcElement:event.target).tagName!='INPUT'){c.checked=(c.type=='radio'?true:!c.checked)};var i=this.parentNode.parentNode.parentNode.getElementsByTagName('INPUT');for(var k=0;k!=i.length;k=k+1){i[k].parentNode.parentNode.setAttribute('sel',i[k].checked?1:0)}"><span style="display:block;padding-left:30px;cursor:inherit"><input style="float:left;width:20px;margin-left:-25px;margin-top:2px;padding:0px;height:20px;-webkit-appearance:radio;" name="qp_v1917914" type="radio" value="3" />Nov 13</span></div></div><div style="padding-left:0px;clear:both;text-align:left;margin:1em auto"><div style="margin-left:280px;"><a style="display:inline-block; align-content:center;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;padding-right:5px;text-decoration:none" class="qp_btna" href="#"><input name="qp_b1917914" style="min-width:7.8em;padding:0.5em;text-align:center;background-color:#0B79D3;font-family: 'Open Sans', sans-serif, Arial;font-size:16px;color:#FFF;cursor:pointer;cursor:hand;border:0px;-webkit-appearance:none;border-radius:0px" type="submit" btype="v" value="Vote" /></a><a style="display:inline-block;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;padding-left:5px;text-decoration:none" class="qp_btna" href="#"><input name="qp_b1917914" style="min-width:7.8em;padding:0.5em;background-color:#0B79D3;font-family: 'Open Sans', sans-serif, Arial;font-size:16px;color:#FFF;cursor:pointer;cursor:hand;border:0px;-webkit-appearance:none;border-radius:0px" type="submit" btype="r" value="Results" /></a></div></div></form><div style="display:none"><div id="qp_rp1917914" style="font-size:14px;width:5ex;text-align:right;overflow:hidden;position:absolute;right:5px;height:1.5em;line-height:1.5em"></div><div id="qp_rv1917914" style="font-size:14px;line-height:1.5em;width:0%;text-align:right;color:#FFF;box-sizing:border-box;padding-right:3px"></div><div id="qp_rb1917914" style="font-size:14px;line-height:1.5em;color:#FFFFFF;display:block;padding-right:10px 5px"></div><div id="qp_rva1917914" style="background:#006FB9;border-color:#006FB9"></div><div id="qp_rvb1917914" style="background:#163463;border-color:#163463"></div><div id="qp_rvc1917914" style="background:#5BCFFC;border-color:#1481AB"></div></div>
            </div>
        </div>
        <script src="//scripts.poll-maker.com/3012/scpolls.js" language="javascript"></script>
    </div>
</div>
