
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Local News</h2>
<hr />
<h4 style="color: goldenrod">Hello! Keep up to date with local news from Louisville Kentucky here.</h4>
    <br />
    <iframe src="http://nationalhbpa.blogspot.com/" height="800" width="1200"></iframe>


