@model IEnumerable<CIS420NewWebsite.Models.Article>
@{
    ViewBag.Title = "News";

}
<html>

<h2>National HBPA News</h2>
<div style="width: 100%;">
    <div style="float:left; width: 50%;">
        <center><img alt="First Picture" src="~/Content/Images/Always_Winning.jpg" style="width:550px;height:700px;"></center>
        </div>
    <div style="float:right; width: 50%; text-align:center;">
        <h4>Below are the most recent news articles from the National HBPA website. Select a title below to learn more.</h4>
        <br />
        @foreach (var article in Model)
            {
            <li>
                <a target="_blank" href="@article.Link">
                    @article.Title<br />
                    @article.PublicationDate<br />
                </a>
            </li>
        }
        </ul>
    </div>
</div>
<div style="clear:both"></div>

    

</html>

