
@{
    ViewBag.Title = "Race Information";
}
<h2>@ViewBag.Title</h2>
<hr />
<h3 style="color: gold;">Weather for Races</h3>
<center>
<a href="https://www.accuweather.com/en/us/louisville-ky/40202/weather-forecast/348428" class="aw-widget-legal">
</a><div id="awcc1508342685604" class="aw-widget-current" data-locationkey="348428" data-unit="f" data-language="en-us" data-useip="false" data-uid="awcc1508342685604"></div>
<script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
</center>
<div class="container body-content">
    <h3 style="color: gold;">Racing Details</h3>
    <p style="text-align:left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor eu nisl in finibus. Aliquam ante leo, tristique non malesuada et, rutrum ac libero. Nulla eget bibendum arcu. Nulla diam nisl, facilisis maximus mauris eu, consequat viverra enim. Nam vel urna urna. Nunc urna nisi, interdum id lacus in, porttitor viverra ex. Vivamus ultrices eleifend risus, vitae ultricies magna elementum sed. Nunc pharetra libero risus, non lacinia tortor sollicitudin in. Nulla congue, libero eu aliquam tincidunt, massa ligula tempor est, tincidunt lacinia quam nisi eu turpis. Cras at porttitor augue, sit amet lobortis ante. Nullam tristique felis sit amet mi fermentum, eu viverra quam hendrerit. Duis fermentum aliquet molestie.</p>
    <p style="text-align:left;">Fusce imperdiet volutpat dui quis venenatis. Pellentesque erat velit, dapibus vel nibh ac, interdum semper velit. Nulla luctus dui sit amet metus condimentum, et imperdiet purus euismod. Suspendisse sed magna non turpis hendrerit blandit eu at felis. Proin dapibus elit id lectus vulputate pharetra. Quisque blandit nisl elit, ac auctor est interdum eu. Etiam sit amet porta turpis, in efficitur risus. Suspendisse potenti. Fusce et cursus ipsum. </p>
    <p style="text-align:left;">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin lectus nisi, rutrum eget rhoncus ut, fermentum porttitor mauris. Aenean libero massa, ornare non pretium nec, eleifend a purus. Maecenas risus ex, convallis semper rhoncus eget, fermentum sed quam. Nam quis tincidunt ligula. Ut suscipit tristique velit, et congue dolor efficitur faucibus. Aliquam condimentum elit quis porta malesuada.</p>
    <p style="text-align:left;">Donec et odio luctus, posuere mauris in, porttitor libero. Nunc luctus urna ac ligula sagittis tristique. Etiam ut libero non nulla lobortis vulputate eu eu erat. Curabitur consequat leo non sem sagittis, ut fermentum nisl molestie. Donec mattis lorem nec sodales placerat. Pellentesque est lacus, maximus vitae lectus sed, gravida malesuada felis. Vivamus auctor nec ante porttitor cursus. Donec rutrum, metus porttitor condimentum auctor, nibh purus lacinia risus, eu lobortis arcu lectus at sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum iaculis semper leo, eget aliquet libero.</p>
<center><img alt="First Picture" src="~/Content/Images/Horses_Go.jpg" style="width:800px;height:400px;"></center>
</div>