 <a target="_blank" href="https://goo.gl/maps/xBqGKXK2fju">
    <address>
        Kentucky HBPA<br />
        3729 S. Fourth St.<br />
        Louisville, KY 40214-1712
    </address>
</a>
    <tr>
        <!--TR: Table Row Open Tag-->
        <td>Email</td>
        <td><a href="mailto:Kentuckyhbpa@gmail.com">Kentuckyhbpa@gmail.com</a></td> <!--TD: Table Cell -->
    </tr><!--Close Tag-->
<br/>
    <tr>
        <!--New Row-->
        <td>Phone</td>
        <td>
            <a href="tel:+15023631077">502-363-1077</a>
        </td>
    </tr>
<br/>
    <tr>
        <td>Toll-Free</td>
        <td>
            <a href="tel:+18009284272">800-928-4272</a><!--a = anchor or "link"-->
        </td>

    </tr>
<br/>
    <tr>
        <td>Fax</td>
        <td>
            <a href="tel:+15023676800">502-367-6800</a>
        </td>
    </tr>
<p><i>This office is open year-round, Monday - Friday from 8:30am to 4:00pm</i></p>
<hr/>
<!--Satallite offices-->
<center>
    CHURCHILL DOWNS BACKSIDE OFFICE
<br/>
        <a href="tel:+15026377935">502-637-7935 \ fax 502-637-7935</a>
            <p><i>Open year round, Wednesday - Sunday from 8:30am to 5:30pm</i></p>
    TRACKSIDE - Louisville
<br/>
        <a href="tel:+15029645361">502-964-5361 \ fax 502-964-5361</a>
            <p><i>Open year round, Tuesday - Sunday from 9:30am to 1:30pm</i></p>
    THE THOROUGHBRED CENTER – Lexington
<br/>
        <a href="tel:+18592935672">859-293-5672 \ fax 859-293-5672</a>
            <p><i>Open year round, Monday - Friday from 9:00am to 1:00pm</i></p>
<hr/>
<!--Other Tracks contact-->
<p>VISIT OUR OFFICES AT ALL KENTUCKY TRACKS, OPEN DURING EACH TRACK’S LIVE RACING MEET</p>
    ELLIS PARK - Henderson
<br/>
        <a href="tel:+18124358956">812-435-8956 \ fax 812-425-1659</a>
<br/>
    KEENELAND – Lexington
<br/>
        <a href="tel:+18004563412">800-456-3412, ext. 390 \ fax 859-255-0467</a>
<br/>
    TURFWAY PARK – Florence
<br/>
        <a href="tel:+18007330200">800-733-0200 \ fax 859-371-4086</a>
</center>