body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*em = font size; 1em = one font size*/
td{
    padding-right: 1em;
}

table{
    margin-bottom: 1em;
}

/* Nav Header  */
.dropdown-menu {
    position: fixed;
    top: 50px;
    left: 0;
    min-width: 100%
}
/* Makes it the width of the screen, and starts at the base of the nav header*/